{% extends 'base.html' %}
{% load static %}
{% block content %}


  <style media="screen">
    .jumbotron {
      margin-top: 40px;
      margin-bottom: 0px;
      height: 82vh;
    }

    .jumbotron h1 {
      text-align: center;
    }

    h1{
      color:#29ACE3 ;
    }


    .btn{
      background-color:#29ACE3;
      color: white;
    }


  </style>


  <br><br>
  <div class="jumbotron text-center" style="margin-bottom:0px;">
    <h1 class="display-4 color='29ACE3' ">Hello, Customer</h1>
    <p class="lead">Welcome To Auto Insurance System</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn  btn-lg" href="customersignup" role="button">Create Your Account</a>
      <a class="btn btn-lg" href="customerlogin" role="button">Login</a>
    </p>
    <br><br><br>
  </div>
 
  {% include "insurance/footer.html" %}
  {% endblock %}



