{% extends 'customer/customerbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a:link {
            text-decoration: none;
        }

        label #sidebar_btn {
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            padding-left: 60px;
            margin-top: 15px;
            font-size: 20px;
            transition: 0.5s;
            transition-property: color;
        }
    </style>

</head>

<br><br><br>
<h3 style="text-align: center;color: rgb(49, 38, 38);">Required information for Agriculture Insurance Policy</h3>

<form method="POST" autocomplete="off" action="{% url 'moredetail-agriculture' policy.id %}" enctype="multipart/form-data" class="m-4">
    {% csrf_token %}

    <!-- Fields for agriculture insurance -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="crop_type">Crop Type</label>
            <input type="text" name="crop_type" class="form-control" placeholder="Crop Type">
        </div>
        <div class="form-group col-md-6">
            <label for="insurance-type">Insurance type</label>
            <select name="insurancetype" class="form-control">
                <option value="floods">Floods and excess of rain</option>
                <option value="Droughts">Droughts and lack of rain</option>
            </select>
        </div>
        
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="plot_size">Plot Size</label>
            <input type="text" name="plotsize" class="form-control" placeholder="Plot Size">
        </div>
        <div class="form-group col-md-6">
            <label for="crop_name">Crop Name</label>
            <input type="text" name="cropname" class="form-control" placeholder="Crop Name">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planting_date">Planting Date</label>
            <input type="date" name="plantingdate" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="harvest_date">Harvest Date</label>
            <input type="date" name="harvestdate" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="soiltype">Soil Type</label>
            <input type="text" name="soiltype" class="form-control" placeholder="Soil Type">
        </div>
        <div class="form-group col-md-6">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" placeholder="Location">
        </div>
    </div>

    <!-- Add the digital signature field here as described in the previous response -->

    <button type="submit" class="btn btn-primary ml-5">Apply</button>
</form>


<br><br>
{% endblock content %}


