{% extends 'customer/customerbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a:link {
            text-decoration: none;
        }

        label #sidebar_btn {
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            padding-left: 60px;
            margin-top: 15px;
            font-size: 20px;

            transition: 0.5s;
            transition-property: color;
        }
    </style>
</head>

<br><br><br>


<head>
    <style>
        .clear {
            padding: 65px 0px;
        }
    </style>
</head>

<div class="clea"></div>
<div id="page-content" class="">

    <div class="col-md-8 col-md-offset-2">
        <div class="form-box">
            <h2><b>Insurance Tracking</b></h2>
            <form class="form-content" method="post" action="{% url 'tracking_number' %}">
                {% csrf_token %}
                <div class="form-col">
                    <div class="form-group col-md-6">
                        <label for="">Tracking Number</label>
                        <input type="text" name="tnumber" placeholder="Tracking Number" required class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Select policy applied</label>

                        <select name="type" id="Medical insurance type" class="form-control">

                            <option value="selections">Select insurance type </option>
                            <option value="agri">Agri Insurance</option>
                            <option value="car">Car Insurance</option>

                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Submit" name="submit" />
                </div>

            </form>
        </div>

        <div class="mt-3" style="margin-top: 10px;">
            {% if records %}
            <table  class="table table-hover" id="dev-table">
                <tr>
                    <th>Marque</th>
                    <th>Plate_no</th>
                    <th>Year</th>
                    <th>insuredvalue</th>
                    <th>Territorial_limit</th>
                    <th>Deductible</th>
                    <th>Model</th>
                    <th>policy_status</th>
                </tr>
                {% for data in records %}
                <tr>
                    <td>{{data.marque}}</td>
                    <td>{{data.platenumnber}}</td>
                    <td>{{data.yearofmanufacture}}</td>
                    <td>{{data.insuredvalue}}</td>
                    <td>{{data.territoriallimit}}</td>
                    <td>{{data.deductible}}</td>
                    <td>{{data.model}}</td>
                    <td>{{data.policystatus}}</td>
                </tr>

                {% endfor %}
            </table>
            {% elif recordsagri %}

            <table  class="table table-hover" id="dev-table">
                <tr>
                    <th>policy_status</th>
                    <th>policy_name</th>
                </tr>
                {% for data in recordsagri %}
                <tr>
                    <td>{{data.policy_status}}</td>
                    <td>{{data.policy_holder_name}}</td>
                    
                </tr>

                {% endfor %}
            </table>

            {% endif %}
        </div>

    </div>
</div>
<div class="clear"></div>


<br><br>
{% endblock content %}