{% extends 'insurance/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a:link {
            text-decoration: none;
        }

        label #sidebar_btn {
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            padding-left: 60px;
            margin-top: 15px;
            font-size: 20px;

            transition: 0.5s;
            transition-property: color;
        }
    </style>
</head>


<h2 style="text-align:center; color: rgb(0, 183, 255);">Claim Feedback</h2>
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;" action="{% url 'claim_feedback' email %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="course_name">Send Feedback</label>
        <textarea class="form-control" placeholder="Describe your problem here" name="message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Reply</button>
</form>
<br><br><br><br>
{% endblock content %}