{% extends 'insurance/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20"> <a href="" style="text-decoration: none;color:white;">Total Registered User</a> </h6>
          <h2 class="text-right"><i  class="fas fa-users f-left"></i><span></span></h2>
          
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20"><a href="" style="text-decoration: none;color:white;">Listed Policies</a> </h6>
          <h2 class="text-right"><i class="fab fa-product-hunt f-left"></i><span></span></h2>
          
        </div>
      </div>
    </div>
</div>


{% endblock %}