{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="clear"></div>
<div id="page-content">
    <section class="flexslider">
        <ul class="slides">
            <li>
                <img src="{% static 'images/s1.png' %}" />
                <div class="slide-info">
                    <div class="slide-con">
                        <b>Motor Insurance</b>
                        <h3>Motor Insurance</h3>
                        <p>The main purpose of auto insurance is to cover property damage and/or bodily injury that 
                            your vehicle may cause to others.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="{% static 'images/housefire1.jpg' %} " />
                <div class="slide-info">
                    <div class="slide-con">
                        <b>Fire Insurance</b>
                        <h3>Fire Insurance</h3>
                        <p> Fire or home insurance is a service that protects your home against direct and indirect damage from inside and outside caused by fire incidents.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="{% static 'images/slider-img1.jpg' %}" />
                <div class="slide-info">
                    <div class="slide-con">
                        <b>Medical Insurance</b>
                        <h3>Medical Insurance</h3>
                        <p>Health insurance is a device responsible for insuring an individual against financial risks of care in case of illness,
                            as well as a minimum income when the condition deprives the person of work.</p>
                        <a href="#" class="ti-arrow-right"></a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
   
   

</div>
{% endblock %}