{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="clear" style="margin-top: 23rem;"></div>
<div id="page-content" class="">

    <div class="col-md-8 col-md-offset-2">
        <div class="form-box">
            <h2><b>Insurance Tracking</b></h2>
            <form class="form-content" method="POST" enctype="multipart/form-data" action="feedbackresult.php">

                <input type="text" name="tnumber" placeholder="Tracking Number" required />
                <select name="type" id="Medical insurance type">

                    <option value="selections">Select insurance type </option>
                    <option value="medical">Medical Insurance</option>
                    <option value="car">Car Insurance</option>
                    <option value="motor">Motor Insurance</option>
                    <option value="travel">Travel Insurance</option>

                </select>

                <div class="text-center">
                    <input type="submit" class="btn-default" value="Submit" name="submit" />
                </div>

            </form>
        </div>


    </div>
</div>
<div class="clear"></div>

{% endblock %}